@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pretendard: var(--font-pretendard);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Custom */
  --color-gray-010: #fbfbfd;
  --color-gray-020: #e3e7eb;
  --color-gray-030: #b2bbc6;
  --color-gray-040: #788799;
  --color-gray-050: #43546a;
  --color-gray-060: #2c3e54;
  --color-gray-070: #233142;
  --color-gray-080: #1b232d;
  --color-gray-090: #10161c;

  --color-primary-005: #f3f4ff;
  --color-primary-010: #e9eaff;
  --color-primary-020: #c8cbfd;
  --color-primary-030: #9095ff;
  --color-primary-040: #676dff;
  --color-primary-050: #4b51ed;
  --color-primary-060: #262ca3;
  --color-primary-070: #161c80;
  --color-primary-080: #0b0e44;
  --color-primary-090: #03052f;

  --color-sub-gradient-left: #431be4;
  --color-sub-gradient-right: #fd98ff;

  --color-danger: #f1351c;

  --font-pretendard: var(--font-pretendard);

  --font-size-xs: 12px;
  --font-size-xs-line: 16px;
  --font-size-sm: 14px;
  --font-size-sm-line: 20px;
  --font-size-base: 16px;
  --font-size-base-line: 24px;
  --font-size-lg: 18px;
  --font-size-lg-line: 28px;
  --font-size-xl: 20px;
  --font-size-xl-line: 28px;
  --font-size-2xl: 24px;
  --font-size-2xl-line: 32px;
  --font-size-3xl: 30px;
  --font-size-3xl-line: 36px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

:root {
  --radius: 0.625rem;
  --background: var(--color-gray-010);
  --foreground: var(--color-gray-090);
  --card: var(--color-white);
  --card-foreground: var(--color-gray-090);
  --popover: var(--color-white);
  --popover-foreground: var(--color-gray-090);
  --primary: var(--color-primary-040);
  --primary-foreground: var(--color-primary-010);
  --secondary: var(--color-white);
  --secondary-foreground: var(--color-gray-040);
  --muted: var(--color-gray-030);
  --muted-foreground: var(--color-gray-050);
  --accent: var(--color-primary-010);
  --accent-foreground: var(--color-primary-030);
  --destructive: var(--color-danger);
  --border: var(--color-gray-020);
  --input: var(--color-gray-020);
  --ring: var(--color-gray-040);
  --chart-1: var(--color-primary-020);
  --chart-2: var(--color-primary-030);
  --chart-3: var(--color-primary);
  --chart-4: var(--color-primary-050);
  --chart-5: var(--color-primary-060);
  --sidebar: var(--color-primary-005);
  --sidebar-foreground: var(--color-gray-090);
  --sidebar-primary: var(--color-gray-080);
  --sidebar-primary-foreground: var(--color-primary-005);
  --sidebar-accent: var(--color-gray-010);
  --sidebar-accent-foreground: var(--color-gray-080);
  --sidebar-border: var(--color-gray-020);
  --sidebar-ring: var(--color-gray-040);
}

.dark {
  --background: var(--color-gray-090);
  --foreground: var(--color-gray-010);
  --card: var(--color-gray-080);
  --card-foreground: var(--color-gray-005);
  --popover: var(--color-gray-080);
  --popover-foreground: var(--color-gray-005);
  --primary: var(--color-primary-030);
  --primary-foreground: var(--color-primary-080);
  --secondary: var(--color-gray-070);
  --secondary-foreground: var(--color-gray-040);
  --muted: var(--color-gray-050);
  --muted-foreground: var(--color-gray-040);
  --accent: var(--color-gray-070);
  --accent-foreground: var(--color-primary-040);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: var(--color-gray-050);
  --chart-1: var(--color-primary-030);
  --chart-2: var(--color-primary);
  --chart-3: var(--color-primary-050);
  --chart-4: var(--color-primary-060);
  --chart-5: var(--color-primary-070);
  --sidebar: var(--color-gray-080);
  --sidebar-foreground: var(--color-primary-005);
  --sidebar-primary: var(--color-primary);
  --sidebar-primary-foreground: var(--color-primary-005);
  --sidebar-accent: var(--color-gray-070);
  --sidebar-accent-foreground: var(--color-primary-005);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: var(--color-gray-050);
}

@layer utilities {
  .text-xs {
    font-size: var(--font-size-xs);
    line-height: var(--font-size-xs-line);
  }
  .text-sm {
    font-size: var(--font-size-sm);
    line-height: var(--font-size-sm-line);
  }
  .text-base {
    font-size: var(--font-size-base);
    line-height: var(--font-size-base-line);
  }
  .text-lg {
    font-size: var(--font-size-lg);
    line-height: var(--font-size-lg-line);
  }
  .text-xl {
    font-size: var(--font-size-xl);
    line-height: var(--font-size-xl-line);
  }
  .text-2xl {
    font-size: var(--font-size-2xl);
    line-height: var(--font-size-2xl-line);
  }
  .text-3xl {
    font-size: var(--font-size-3xl);
    line-height: var(--font-size-3xl-line);
  }

  .font-light {
    font-weight: var(--font-weight-light);
  }
  .font-normal {
    font-weight: var(--font-weight-normal);
  }
  .font-medium {
    font-weight: var(--font-weight-medium);
  }
  .font-semibold {
    font-weight: var(--font-weight-semibold);
  }
  .font-bold {
    font-weight: var(--font-weight-bold);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    -ms-overflow-style: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .sub-gradient {
    @apply bg-gradient-to-r from-sub-gradient-left to-sub-gradient-right;
  }

  a {
    color: var(--foreground);
    text-decoration: none;
  }

  .dark a {
    color: var(--color-gray-040);
  }
}

input[type='number'].hideArrows::-webkit-inner-spin-button,
input[type='number'].hideArrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'].hideArrows {
  -moz-appearance: textfield;
}
